{% extends 'x7tools/base.html' %}
{% load i18n sizeformat %}
{% block title %}X7 Tools{% endblock %}

{% block page_header %}
<script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timers.js"></script>

  {% include "horizon/common/_page_header.html" with title=_("Overview") %}

{% endblock page_header %}

{% block js %}

{% endblock %}
    
{% block main %}


<style>
  div.panes div {
  background:#fff url(/media/img/gradient/h300.png) repeat-x 0 5px; 
  -background:#fff;
  height:450px;
  }

  div.panes label {
  margin-bottom:15px;
  display:block;
  }

  label.error {
  color:red;
  }
</style>


<script type="text/javascript">
   
   function query_migrate(){ 
	   var req_data = {};
	   req_data['instance'] = $('#instance').val();
	   req_data['host'] = $('#host').val();
	   jQuery.ajax({
			url:'/tools/migrate/query_migrate',
			type:'get',
			data:req_data,
			dataType:'text',
			success:function(retData, status) {
				proc_query_data( retData );
			},
			error:function(XMLHttpRequest,textStatus) {                
			    //alert('call ajax error');
			}
		});
   }
   
   function proc_query_data( retData ){
	   retDict = jQuery.parseJSON( retData );
   
	   mesg = retDict.mesg
	   if( mesg == "None"){
		   $(this).oneTime( 1000 , function(){
			   query_migrate();
		   });
		   return;
	   }
		   
	   if( mesg == "error" ){
		   alert("query error:" + retDict.desc );
		   return;
	   }
	   
	   if( mesg == "success" ){
		   $("#mstatus_label").val("migrate success!");
		   $("#loadingSpan").css('display','none'); 
		   return;
	   }
	   
	   if( mesg == "fail"){
		   $('#mstatus_label').val('migrate failed,'+ retDict.desc );
		   $("#loadingSpan").css('display','none'); 
		   return;
	   }
	   
	   $(this).oneTime( 1000 , function(){
		   query_migrate();
		});
   }
   
 
</script>

	
	    <div>
	        <span width="350px">
	        <br>
	            <p>
				    <label for="instance">目标VM:<input id="instance" name="instance" value="{{json.instance}}" readonly /></label>
				</p>
				<p>
				    <label for="host">目标HOST:<input id="host" name="host" value="{{json.host}}" readonly /></label>
				</p>
	       
	            <p id="migrate_status" >
				    <label for="mstatus_label">迁移状态:<input id="mstatus_label" name="mstatus_label" value="vm migrate running ... " width="30"/>
				    <span id="loadingSpan"><img src="/static/images/loading.gif" border="0px" /></span></label>
				</p>		

			</span>
	    </div>
	<!-- activate tabs with JavaScript -->
	<script>
	    $(function() {	        
	    	query_migrate();
	    });
	</script>

 
{% endblock %}
