{% extends 'x7tools/base.html' %}
{% load i18n sizeformat %}
{% block title %}X7 Tools{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Host Setup") %}
{% endblock page_header %}

{% block js %}
{% endblock %}

{% block main %}
 
<link rel="stylesheet" type="text/css" href="/static/css/progress/reset.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/progress/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/progress/template.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/progress/form.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/progress/custom.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.progressbar.js"></script>
<script type="text/javascript" src="/static/js/jquery.timers.js"></script>
<script type="text/javascript">
    var hostList = {{ json|safe }};
   
    function init_rows(){
    	for( i=0; i<hostList.length; i++){
    		r = hostList[i];
    		
    		$("#desc"+i).text( r.desc );
    		$("#hostname"+i).text( r.hostname );
    		$("#status"+i).text( r.status );
    		$("#progressbar" + i).progressBar(0, { showText: true, barImage: '/static/images/progressbg_red.gif'} );    		
    	}
    }
    
    
    function hostIndex( hostname ){
    	for( i=0; i<hostList.length; i++){
    		r = hostList[i];
    		if( hostname == r.hostname ){
    			return i
    		}     		
    	}
    	return -1;
    }
    
    function process( json ){		
		var i = 0;
		var msg;
		for( i = 0; i<json.length; i++ ){
			msg = json[i];
			idx = hostIndex( msg.hostname)
			if( idx == -1 )
				continue;
			
			if( msg.type  == "log" ){
				$("#console").append( msg.hostname + "> " + msg.mesg + '<br />');	
				$("#console")[0].scrollTop = $("#console")[0].scrollHeight;	
			}else if ( msg.type == "prog" ){				
				$("#progressbar" + idx ).progressBar(msg.mesg );
			}else if( msg.type == "cmd" ){
				$("#status"+idx).text( msg.mesg );
			}			
		}		
		
		$(this).oneTime( 1000 , function(){
			getMsg();
		}); 
     }
	
	function getMsg(){
		jQuery.ajax({
			url:'/tools/query_setup',
			type:'get',
			dataType:'text',
			cache: false,
			success:function(retData, status) {
			    var obj = jQuery.parseJSON( retData ); 
			    process( obj )			     	              
			},
			error:function(XMLHttpRequest,textStatus) {                
			    //alert('call ajax error');
			}
		});
	}
</script>
   
 <div id="content">
	 <div class="contentblock">
	     <p style="margin-left: 6%;">Host列表:</p>
	     <table border="1px" width="600px">
	       <tr>
		    <th width="150px" align="center">描述</th>
		    <th width="80px" align="center">hostname</th>
		    <th width="80px" align="center">状态</th>
		    <th width="150px" align="center">安装进度</th>
		   </tr>
		   <tr id="row0"  nowrap>
	          <td><span id="desc0" ></span></td>
	          <td><span id="hostname0" ></span></td>
	          <td><span id="status0" ></span></td>
	          <td><span class="progressBar" id="progressbar0"></span>&nbsp;</td>
	       </tr>
	        <tr id="row1"  nowrap>
	          <td><span id="desc1" ></span></td>
	          <td><span id="hostname1" ></span></td>
	          <td><span id="status1" ></span></td>
	          <td><span class="progressBar" id="progressbar1"></span>&nbsp;</td>
	       </tr>
	       <tr id="row2"  nowrap>
	          <td><span id="desc2" ></span></td>
	          <td><span id="hostname2" ></span></td>
	          <td><span id="status2" ></span></td>
	          <td><span class="progressBar" id="progressbar2"></span>&nbsp;</td>
	       </tr>
	       <tr id="row3"  nowrap>
	          <td><span id="desc3" ></span></td>
	          <td><span id="hostname3" ></span></td>
	          <td><span id="status3" ></span></td>
	          <td><span class="progressBar" id="progressbar3"></span>&nbsp;</td>
	       </tr>
	
	       <tr id="row4"  nowrap>
	          <td><span id="desc4" ></span></td>
	          <td><span id="hostname4" ></span></td>
	          <td><span id="status4" ></span></td>
	          <td><span class="progressBar" id="progressbar4"></span>&nbsp;</td>
	       </tr>
	       <tr id="row5"  nowrap>
	          <td><span id="desc5" ></span></td>
	          <td><span id="hostname5" ></span></td>
	          <td><span id="status5" ></span></td>
	          <td><span class="progressBar" id="progressbar5"></span>&nbsp;</td>
	       </tr>	      
	    </table>
		<table>
			<tr>
				<td><h3>Host Setup Logs</h3></td>
			</tr>
		</table>
		<div id="console"></div>
	 </div>
</div>		  
    
	<script type="text/javascript">
	    
		$(document).ready(function() {
			init_rows();
			$(this).oneTime( 1000 , function(){
				getMsg();
			});
		});
	</script>

{% endblock %}
